/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/


.error-404 {
    padding-top: 12.125rem;
    padding-bottom: 12.125rem;
    position: relative;

    .error-content {
        position: relative;        
    }

    .error-logo {
        margin-top: -4.25rem;
        margin-bottom: -10.25rem;

        img {
            max-width: 45.875rem;
        }
    }
}