
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 2.25rem; 
	position: relative;
	
	.sub-title {		
		display: block;
		font-family: 'Great Vibes', cursive;
		color: $theme-color;
		margin-bottom: -1.5rem;
	}
	
	.title {
		font-size: 3.25rem;
		color: $secondary;
		font-family: 'Cormorant Unicase', serif;
		font-weight: 500;
		line-height: 5rem;
	}

	@include media-breakpoint-down(sm) {
		.sub-title {
			margin-bottom: 0;
		}

		.title {
			line-height: 2.5rem;
		}
	}
	
	@include media-breakpoint-down(lg) {
		margin-bottom: 0.5rem;
	}
}