
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 2.25rem; 
	position: relative;
	
	.sub-title {		
		display: block;
		font-family: 'Great Vibes', cursive;
		color: $theme-color;
		font-weight: 500;
		margin-bottom: 0;
	}
	
	.title {
		font-size: 3.25rem;
		color: $secondary;
		font-family: $heading-font;
		font-weight: 500;
		line-height: 3.75rem;
	}
}