
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
    display: block;
	margin-bottom: 1.875rem;

	.icon-wrapper {
		background-color: $theme-color;
		display: inline-block;
		border-radius: 50%;
		width: 3.375rem;
		height: 3.375rem;		

		i {
			color: $white;
			font-size: 1.5rem;
			line-height: 3.375rem;
		}
	}

	span {
		color: #c5c2c1;
	}

	.icon-header {
		span {
			color: #a0a0a0;
			line-height: 1;
		}

		p {
			font-size: 1rem;
			line-height: 1.875rem;
			margin-bottom: 0;
		}
	}
}