
/*-----------------------------------------------------------------------------------

	Shortcodes: team.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Team member Styles
-----------------------------------------------------------------*/

.team {
    position: relative;
    margin-bottom: 1.875rem;

    .team-name, .team-detail {
        line-height: 1;
    }

    .team-detail, .team-rating {
        font-size: 0.875rem;
        color: #b6b6b6;
    }    

    .team-name {
        color: #5c5656;
    }

    .team-rating {
        i {
            color:$theme-color;
        }
    }

    @include media-breakpoint-down(lg) {
        text-align: center;
        
        .team-info {
            text-align: center;
        }
    }
}